.App {
  font-family: Arial, sans-serif;
  max-width: 5000px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

h1 {
  font-size: 24px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th,
tbody td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

thead th {
  background-color: #007bff;
  color: #fff;
}

tbody tr:hover {
  background-color: #f2f2f2;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.pagination button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

.deleteBtn {
  margin-top: 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.deleteBtn[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}
